.container {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgb(73, 75, 194); */
  background-color: rgb(39 41 153 / 56%);
  padding: 10px 10px;
  border-radius: 5px;
  width: 65%;

  /* display: flex;
  align-items: center; */
  /* padding: 10px 10px; */
  /* height: 300px; */
  height: auto;
  row-gap: 10px;
}